#Profile-Page-Main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 4px;
}

#Background-CP {
  position: relative;
  background-color: rgb(54, 54, 54, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Complete-Profile-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: absolute;
  color: rgb(28, 28, 63);
  background-color: white;
  border-radius: 1rem;
}

#Complete-Profile-Heading {
  font-size: 4rem;
}

.details-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

#cp-form-heading {
  font-size: 2.5rem;
}

label {
  font-size: 1.5rem;
  width: 50%;
}

#username {
  width: 50%;
}

#bio {
  width: 75%;
}

#cp-btn {
  background-color: rgb(255, 25, 25);
  color: white;
  margin: 0.5rem;
}

#Fields-Empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid red;
  border-radius: 0.5rem;
  width: 10rem;
  height: 4rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(255, 95, 95);
  bottom: 0;
  left: 1rem;
  position: absolute;
}

#Profile-Main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
}

#Profile-Card-Div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#Profile-Card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 50%;
  margin: 1rem;
  background-color: rgb(48, 48, 83);
  padding: 1rem;
  border-radius: 1.5rem;
}

#Profile-Pic-Div {
  height: 50%;
  height: 100%;
}

#Profile-Pic {
  height: 100%;
  width: 100%;
}

#Profile-Details-Div {
  display: flex;
  flex-direction: column;
}

#Name {
  font-size: 2rem;
}

#Email {
  font-size: 1.5rem;
}

#Bio {
  font-size: 1rem;
}

#Rest-Profile-Page {
  width: 75%;
  padding: 2rem;
}

#Start-Podcast-Heading {
    color: rgb(161, 160, 160);
}

#Start-Podcast-Btn {
    background-color: red;
    border-radius: 25%;
}

@media screen and (max-width: 992px) {
  .details-div {
    font-size: 1rem;
  }

  #cp-form-heading {
    font-size: 1.5rem;
  }

  #Profile-Main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    
  }

  #Profile-Card-Div {
    width: 100%;
  }

  #Name {
  font-size: 1.5rem;
}

#Email {
  font-size: 1rem;
}

#Bio {
  font-size: 0.5rem;
}
}
