.linkStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white; /* Default color */
  text-decoration: none; /* Optional */
}

.linkStyle:hover {
  color: lightblue; /* Hover effect color */
}
